@{
    ViewData["Title"] = "listday";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@model List<MonNgonMoiNgay.Models.Entities.BaiDang>

<h2>listday</h2>
<div class="row">
    @foreach (var item in Model)
            {
    <div class="col-sm-3" style="background-color:lavender; margin-top:5px; text-align:center">
        <h3> @Html.DisplayFor(modelItem => item.TenMon)</h3>
        <div>
            <img src="@item.getOneImage()" class="img-fluid" alt="Image"><br />
        </div>

        @Html.DisplayFor(modelItem => item.GiaTien)<br />
    </div>
            }
</div>

